$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?a3dcb1da370780ee9c27dfa995de58b7") format("truetype"),
url("./flaticon.woff?a3dcb1da370780ee9c27dfa995de58b7") format("woff"),
url("./flaticon.woff2?a3dcb1da370780ee9c27dfa995de58b7") format("woff2"),
url("./flaticon.eot?a3dcb1da370780ee9c27dfa995de58b7#iefix") format("embedded-opentype"),
url("./flaticon.svg?a3dcb1da370780ee9c27dfa995de58b7#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "abdominal-exercise": "\f101",
    "buddhist-yoga-pose": "\f102",
    "exercise-1": "\f103",
    "exercise": "\f104",
    "man-boxing": "\f105",
    "man-exercising-leg-on-the-flor": "\f106",
    "man-jumping-rope": "\f107",
    "pull-up": "\f108",
    "weightlifter": "\f109",
    "weightlifting": "\f10a",
);

.flaticon-abdominal-exercise:before {
    content: map-get($flaticon-map, "abdominal-exercise");
}
.flaticon-buddhist-yoga-pose:before {
    content: map-get($flaticon-map, "buddhist-yoga-pose");
}
.flaticon-exercise-1:before {
    content: map-get($flaticon-map, "exercise-1");
}
.flaticon-exercise:before {
    content: map-get($flaticon-map, "exercise");
}
.flaticon-man-boxing:before {
    content: map-get($flaticon-map, "man-boxing");
}
.flaticon-man-exercising-leg-on-the-flor:before {
    content: map-get($flaticon-map, "man-exercising-leg-on-the-flor");
}
.flaticon-man-jumping-rope:before {
    content: map-get($flaticon-map, "man-jumping-rope");
}
.flaticon-pull-up:before {
    content: map-get($flaticon-map, "pull-up");
}
.flaticon-weightlifter:before {
    content: map-get($flaticon-map, "weightlifter");
}
.flaticon-weightlifting:before {
    content: map-get($flaticon-map, "weightlifting");
}
